* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #79caf5;
}

.container-header {
  display: flex;
  align-items: center;
  width: 90%;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  z-index: 1000;
  padding-left: 20px;
  align-items: flex-start;
  background-color: #ffffff;
}

nav .profil {
  gap: 12px;
  width: 25%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  background-color: #77e8fa;
}

.profil img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.profil .nama {
  gap: 2px;
  width: 60%;
  display: flex;
  margin-top: -5px;
  flex-direction: column;
}

.profil .underline {
  width: 100%;
  height: 2px;
  background-color: black;
}

nav {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 12px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgba(91, 206, 224, 0.29);
}

.content {
  padding: 100px 20px;
}

.main-container {
  display: flex;
  padding-top: 80px;
  align-items: flex-start;
}

.ask-question-container {
  position: absolute;
  top: 110px;
  padding-left: 50px;
  margin-right: 20px;
}

.ask-question {
  background-color: #069cb4;
  color: white;
  width: 210px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ask-question:hover {
  background-color: #069db486;
}

.side-navbar {
  width: 210px;
  background-color: #ffffff;
  position: relative;
  top: 100px;
  left: 50px;
}

.side-navbar ul {
  list-style-type: none;
  padding: 1px;
  margin: 20px 0;
}

.side-navbar ul li {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.side-navbar ul li a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.side-navbar ul li img.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.side-navbar ul li:hover {
  color: #3f3c3a;
  opacity: 0.7;
  transition: 0.3s;
}

.container {
  margin-left: 180px;
  width: 60%;
  margin-top: 100px;
}

.form-container {
  padding: 20px;
  margin-left: 100px;
  width: calc(85% - 250px);
  height: 375px; /* Menambah tinggi form */
  box-sizing: border-box;
  background-color: #d9d9d9;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  position: relative;
}

.form-container input#topik {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container textarea#konten {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 225px;
}

.form-container button {
  padding: 10px;
  background-color: #069cb4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.form-container button:hover {
  background-color: #069db486;
}

/* Media Query untuk layar lebih kecil */
@media (max-width: 768px) {
  .container {
    width: 100%; /* Lebar penuh untuk layar lebih kecil */
    margin-left: 0;
  }

  .form-container {
    margin-left: 8px;
    width: 100%;
    height: 400px;
  }

  .ask-question-container {
    padding-left: 20px;
  }

  .side-navbar {
    left: 0;
    width: 40%;
    height: 330px;
  }

  header {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .rectangle {
    width: 100%;
    margin: 0;
  }

  .ask-question {
    width: 100%;
  }
}

/* Media Query untuk layar sangat kecil (misalnya ponsel) */
@media (max-width: 480px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .side-navbar ul li {
    font-size: 16px;
  }

  .form-container button {
    width: 90%;
  }
}
