* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: #79caf5;
}

nav {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: white;
}

nav a,
button {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Racing Sans One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  background: linear-gradient(202deg, #144166 -15.21%, #2577ba 57.53%, #2982cc 147.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hamburger {
  cursor: pointer;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #2577ba;
}

.container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  gap: 36px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.navigation a:hover {
  transition: 0.2s;
  opacity: 0.5;
}

.login_register {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  color: #2982cc;
  padding: 12px;
  font-weight: bolder;
  transition: 0.2s;
}

.register-button {
  color: white;
  padding: 12px;
  width: 108px;
  text-align: center;
  border-radius: 8px;
  background-color: #2577ba;
  font-weight: bolder;
  border: none;
}

.login:hover,
.register-button:hover {
  opacity: 0.8;
}

.register-option,
.apply-option {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.2s;
}

.register-option {
  right: 20px;
}

.isHidden {
  display: none;
}

.register-option a,
.apply-option a {
  padding: 8px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  background-color: #2577ba;
}

.register-option a:hover,
.apply-option a:hover {
  background-color: #4e9ee0;
}

.jumbotron {
  height: 110vh;
  display: flex;
  padding: 36px;
  justify-content: space-evenly;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.jumbotron img {
  height: 400px;
  align-self: center;
}

.text h2 {
  font-size: 32px;
}

.text .highlight {
  font-size: 40px;
  background: linear-gradient(186deg, #0a6ddf 31.73%, #01131f 93.82%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text p {
  font-size: 18px;
}

.link {
  gap: 20px;
  display: flex;
  margin-top: 8px;
}

.readmore {
  text-decoration: none;
}

.apply-button,
.readmore {
  width: 150px;
  height: 60px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  padding: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  background-color: #2577ba;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.apply-button:hover,
.readmore:hover {
  color: #2982cc;
  background-color: transparent;
  border: 2px solid #2577ba;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq img {
  width: 120px;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

article {
  display: flex;
  padding-top: 56px;
  min-height: 100vh;
  align-items: center;
}

.about-container,
.courses-container {
  gap: 20px;
  width: 90vw;
  padding: 24px;
  display: flex;
  border-radius: 16px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.about-container h2 {
  color: #2982cc;
}

.about-container p {
  text-align: center;
}

.image {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}

.image img {
  width: 320px;
  height: 225px;
  object-fit: cover;
  object-position: center;
}

.courses-container {
  background-color: #2982cc;
}

.courses-container h2 {
  color: white;
}

.course-container {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.course {
  gap: 8px;
  padding: 16px;
  width: 354px;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.course img {
  width: 100%;
  height: 160px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  object-position: center;
}

.course a {
  width: 120px;
  color: white;
  margin-top: 16px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  align-self: center;
  background-color: #2577ba;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  cursor: pointer;
  padding: 10px 21px;
  transition: 0.2s;
}

.course a:hover {
  background-color: #1c84ff;
}

footer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  align-items: center;
  background-color: #2e7dbf;
  justify-content: space-evenly;
}

footer h2 {
  color: white;
}

.nama-website {
  display: flex;
  align-items: center;
}

.nama-website img {
  width: 140px;
}

#social-media {
  text-align: center;
}

#social-media .gambar {
  margin-top: 5px;
  gap: 12px;
  display: flex;
  justify-content: center;
}

#social-media img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 856px) {
  .navigation {
    gap: 16px;
  }

  .login_register {
    gap: 12px;
  }

  .jumbotron img {
    height: 350px;
  }

  .link {
    gap: 12px;
  }

  .image img {
    width: 300px;
    height: 210px;
  }

  .course img {
    width: 272px;
    height: 128px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  .container {
    opacity: 0;
    top: -252px;
    gap: 20px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: 0.7s;
  }

  .display {
    opacity: 1;
    transform: translateY(320px);
  }

  .navigation {
    text-align: center;
    flex-direction: column;
  }

  .jumbotron img {
    display: none;
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .image img {
    width: 100%;
    height: 210px;
  }

  .course {
    width: 100%;
  }

  .course img {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 630px) {
  .faq img {
    bottom: 120px;
  }
}

@media screen and (max-width: 468px) {
  .jumbotron {
    padding: 16px;
  }

  .faq img {
    right: -5px;
    bottom: -5px;
  }

  footer {
    gap: 24px;
    padding: 20px;
  }
}
