*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-color: #EEEED0;
    font-family: "Quicksand", sans-serif;
}

.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.rectangle{
    display: flex;
    align-items: left;
    background-color: #77E8FA;
    border-radius: 50px;
    padding: 10px 20px;
    width: 50%;
    max-width: 400px;
    margin: 20px;
    margin-bottom : -20px;
    border: 2px solid #000; 
}

.circle img{
    width: 56px;
    height: 56px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.nama{
    gap: 2px;
    width: 60%;
    display: flex;
    margin-top: -5px;
    flex-direction: column;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #069CB4;
}

.container-sebelummain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.container-search{
    justify-content: flex-end;
    padding: 20px;
}

.rectangle-2{
    display: flex;
    align-items: right;
    background-color: #77E8FA;
    border-radius: 50px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin: 20px;
    border: 2px solid #000; 
}

.circle-2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #C9F8FC;
    margin-right: 10px;
    border: 2px solid #000;  
}

@media (min-width: 789px){
    nav {
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav .profil {
        gap: 12px;
        width: 25%;
        padding: 4px;
        color: black;
        display: flex;
        align-items: center;
        border-radius: 25px;
        text-decoration: none;
        background-color: #77e8fa;
    }

    .profil img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
        object-position: center;
    }
    
    .profil .nama {
        gap: 2px;
        width: 60%;
        display: flex;
        margin-top: -5px;
        flex-direction: column;
    }
    
    .profil .underline {
        width: 100%;
        height: 2px;
        background-color: black;
    }
    
    nav ul {
        display: flex;
        width: 75%;
        justify-content: space-evenly;
    }
    
    nav ul li {
        list-style-type: none;
    }
    
    nav ul li a {
        padding: 12px;
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
    }
    
    nav ul li a:hover {
        background-color: rgba(91, 206, 224, 0.29);
    }
}

@media (max-width : 788px){
    nav {
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }
      
      nav .profil {
        gap: 12px;
        width: 70%;
        padding: 4px;
        color: black;
        display: flex;
        align-items: center;
        border-radius: 25px;
        text-decoration: none;
        background-color: #77e8fa;
      }
      
      .profil img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
        object-position: center;
      }
      
      .profil .nama {
        gap: 2px;
        width: 60%;
        display: flex;
        margin-top: -5px;
        flex-direction: column;
      }
      
      .profil .underline {
        width: 100%;
        height: 2px;
        background-color: black;
      }
      
      nav ul {
        display: flex;
        width: auto;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
      }
      
      nav ul li {
        list-style-type: none;
        width: 100%;
        margin: 5px 0;
      }
      
      nav ul li a {
        width: 100%;
        padding: 12px;
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
      }
      
      nav ul li a:hover {
        background-color: rgba(91, 206, 224, 0.29);
      }
}
.container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-course{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px solid black;
    width : 100%;
    max-width : 411px;
    height : 100%;
    max-height : 576px;
    margin : 20px;
}

.gambarKurs{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width : 100%;
    max-width : 360px;
    height : 100%;
    max-height : 221px;
    border : 1px solid black;
}

.container-circle{
    display : flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    margin-top : 20px;
    margin-bottom: 20px;
}

.container-linktabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin-top : 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    cursor : pointer; 
}

.judul{
    padding: 10px 20px;
}


.container-circle2{
    display: flex;
    justify-content: flex-start;
    padding : 10px 20px;
}

.circle-3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-right: 10px;
    border: 2px solid #000; 
}

@media (max-width: 900px){
    .container-main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 400px){
    .gambarKurs{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width : 90%;
        max-width : 360px;
        height : 90%;
        max-height : 221px;
        border : 1px solid black;
    }
}