*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-color: #79caf5;
    font-family: "Quicksand", sans-serif;
}

.circle img{
    width: 56px;
    height: 56px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.container-search{
    justify-content: flex-end;
    padding: 20px;
}

.rectangle-2{
    display: flex;
    align-items: right;
    background-color: #77E8FA;
    border-radius: 50px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin: 20px;
    border: 2px solid #000; 
}

.circle-2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #C9F8FC;
    margin-right: 10px;
    border: 2px solid #000;  
}
    
nav .profil {
    gap: 12px;
    width: 25%;
    padding: 4px;
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profil img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
    
.profil .nama {
    gap: 2px;
    width: 60%;
    display: flex;
    align-items : center;
    color : #2E7DBF;
}
    
nav {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    position : fixed;
    justify-content: space-between;
    background-color: white;
}
      
.hamburger {
    cursor: pointer;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
      
.hamburger span {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background-color: #2577ba;
}
      
.container {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
      
.navigation {
    gap: 36px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.navigation a{
    text-decoration : none;
    color : black;
}

.navigation a:hover{
    transition: 0.2s;
    opacity: 0.5;  
}

main{
    margin-top: 58px;
    padding: 20px;
}

.container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.container-course {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    max-width: 411px;
    min-height: 540px;
    background-color: white;
    padding: 20px;
}

.judul{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}

.gambarKurs{
    width : 100%;
    height : 200px;
    object-fit: cover;
    object-position: center;
}

.container-circle{
    display : flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    margin-top : 20px;
    margin-bottom: 20px;
}

.container-linktabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-3{
    border: none;
    background-color: #2E7DBF;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    cursor : pointer; 
    color : white;
    margin : auto;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  }

.container-circle2{
    display: flex;
    justify-content: flex-start;
}

.bold{
    font-weight: 600;
}

#Enroll-free, #Enroll{
    color : white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#jenjang{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    margin :40px;
    border-radius : 50px;
    width : 120px;
    height : 50px;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-family: "Quicksand", sans-serif;
    border : none;
}

#jenjang option{
    font-family: "Quicksand", sans-serif;
}

#jenjang:focus{
    outline: none;
}

@media screen and (max-width: 768px) {
    nav .profil {
      width: fit-content;
      border-radius: 50%;
    }
  
    .profil .nama {
      display: none;
    }

    nav {
        justify-content: space-between;
      }
    
    .hamburger {
        display: flex;
    }
    
    .container {
        opacity: 0;
        top: -252px;
        gap: 20px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: 0.7s;
    }
    
    .display {
        opacity: 1;
        transform: translateY(320px);
    }
    
    .navigation {
        text-align: center;
        flex-direction: column;
    }    
}


