* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #79CAF5;
  font-family: "Quicksand", sans-serif;
}

header{
  background-color: white;
}

nav {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .profil {
  gap: 12px;
  width: 25%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

img {
  margin-left:25px;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.profil .nama {
  gap: 2px;
  width: 60%;
  display: flex;
  margin-top: -5px;
  margin-left: 5px;
  flex-direction: column;
}

.nama{
  color: #2E7DBF;
  font-size: 20px;
}

nav ul {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 12px;
  color: black;
  font-size: 25px;
  text-decoration: none;
  font-weight: bolder;
}

nav ul li a:hover {
  color: #2E7DBF;
}


.container{
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.rectangle{
  width: 1175px;
  height: 70px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px;
  align-self: center;
  justify-self: center;
}

.title{
 font-size: 25px;
 font-weight: bold;
}

.course{
  display: grid;
  margin-top: 25px;
  margin-left: 55px;
  margin-right: 25px;
  grid-template-columns: repeat(3, 1fr);
}
.courserectangle{
  width: 370px;
  height: 450px;
  background-color: white;
  border-radius: 30px;
}
