@media (min-width : 769px){

  .square-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      margin-top: 10px;
  }
  
  .square-5{
      position: relative;
      width: 800px;
      height: 35px;
      border-radius: 20px;
      border: 2px solid black;
      background-color: #C9F8FC;
      margin-top: 1px ;
      text-align: center;
      margin-right: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex: 1 1 45%;
  }
  
  .square-6{
      position: relative;
      width: 370px;
      height: 35px;
      border-radius: 20px;
      border: 2px solid black;
      background-color: #C9F8FC;
      margin-left: 6px;
      margin-top: 1px ;
      text-align: center;
  
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex: 1 1 45%;
  
  }
  
  .circle-2{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 2px solid black;
      background-color: #C9F8FC;
      margin-top: 15px; 
      margin-left: 20px; 
  }
  
  .rectangle-2{
      position: relative;
      max-width: 1400px;
      width: 90%;
      height: 370px;
      border-radius: 40px;
      border: 2px solid black;
      background-color: #77E8FA;    
  }
  
  .title{
      position: absolute;
      font-weight: bold;
      left: 70px;
      top: 10px;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #eeeed0;
      font-family: "Quicksand", sans-serif;
    }
    
    nav {
      width: 100%;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    nav .profil {
      gap: 12px;
      width: 25%;
      padding: 4px;
      color: black;
      display: flex;
      align-items: center;
      border-radius: 25px;
      text-decoration: none;
      background-color: #77e8fa;
    }
    
    .profil img {
      width: 56px;
      height: 56px;
      object-fit: cover;
      border-radius: 50%;
      object-position: center;
    }
    
    .profil .nama {
      gap: 2px;
      width: 60%;
      display: flex;
      margin-top: -5px;
      flex-direction: column;
    }
    
    .profil .underline {
      width: 100%;
      height: 2px;
      background-color: black;
    }
    
    nav ul {
      display: flex;
      width: 75%;
      justify-content: space-evenly;
    }
    
    nav ul li {
      list-style-type: none;
    }
    
    nav ul li a {
      padding: 12px;
      color: black;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
    }
    
    nav ul li a:hover {
      background-color: rgba(91, 206, 224, 0.29);
    }
    
  
  #activities{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }
  }
  
  @media (max-width: 768px){
  
  .square-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      margin-top: 10px;
  }
  
  .square-5{
      position: relative;
      width: 800px;
      height: 35px;
      border-radius: 20px;
      border: 2px solid black;
      background-color: #C9F8FC;
      margin-top: 1px ;
      text-align: center;
      margin-right: 6px;
      margin-left: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex: 1 1 100%;
  }
  
  .square-6{
      display: none;
  
  }
  
  .circle-2{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 2px solid black;
      background-color: #C9F8FC;
      margin-top: 15px; 
      margin-left: 20px; 
  }
  
  .rectangle-2{
      position: relative;
      max-width: 1400px;
      width: 90%;
      height: 370px;
      border-radius: 40px;
      border: 2px solid black;
      background-color: #77E8FA;    
  }
  
  .title{
      position: absolute;
      font-weight: bold;
      left: 70px;
      top: 10px;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #eeeed0;
      font-family: "Quicksand", sans-serif;
    }
    
    nav {
      width: 100%;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    
    nav .profil {
      gap: 12px;
      width: 70%;
      padding: 4px;
      color: black;
      display: flex;
      align-items: center;
      border-radius: 25px;
      text-decoration: none;
      background-color: #77e8fa;
    }
    
    .profil img {
      width: 56px;
      height: 56px;
      object-fit: cover;
      border-radius: 50%;
      object-position: center;
    }
    
    .profil .nama {
      gap: 2px;
      width: 60%;
      display: flex;
      margin-top: -5px;
      flex-direction: column;
    }
    
    .profil .underline {
      width: 100%;
      height: 2px;
      background-color: black;
    }
    
    nav ul {
      display: flex;
      width: auto;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
    
    nav ul li {
      list-style-type: none;
      width: 100%;
      margin: 5px 0;
    }
    
    nav ul li a {
      width: 100%;
      padding: 12px;
      color: black;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
    }
    
    nav ul li a:hover {
      background-color: rgba(91, 206, 224, 0.29);
    }
    
  
  #activities{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }
  }
  