*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-color: #79caf5;
    font-family: "Quicksand", sans-serif;
}

.nama{
    font-weight: bold;
    left: 80px;
    top: 15px;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #069CB4;
}

nav .profil {
  gap: 12px;
  width: 25%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profil img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
  
.profil .nama {
  gap: 2px;
  width: 60%;
  display: flex;
  margin-top: -5px;
  align-items : center;
  color : #2E7DBF;
}
  
nav {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: white;
}
    
.hamburger {
  cursor: pointer;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
    
.hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #2577ba;
}
    
.container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
    
.navigation {
  gap: 36px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.navigation a{
  text-decoration : none;
  color : black;
}

.container-linktabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-3{
  display: flex;
  background-color: #2E7DBF;
  border-radius: 50px;
  padding: 10px 20px;
  width: 50vh;
  justify-content: center;
  text-decoration: none;
  border: 2px solid #000;
  cursor : pointer; 
  color : white;
}

.container-payment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.thumbnail{
    width : 100%;
    height : 200px;
    object-fit: cover;
    object-position: center;
    justify-self: center;
}

.container-payment{
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 100%;
  max-width: 411px;
  height: 540px;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.judul{
  text-align: center;
}

@media screen and (max-width: 768px) {
    nav .profil {
      width: fit-content;
      border-radius: 50%;
    }
  
    .profil .nama {
      display: none;
    }

    nav {
        justify-content: space-between;
      }
    
    .hamburger {
        display: flex;
    }
    
    .container {
        opacity: 0;
        top: -252px;
        gap: 20px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: 0.7s;
    }
    
    .display {
        opacity: 1;
        transform: translateY(320px);
    }
    
    .navigation {
        text-align: center;
        flex-direction: column;
    }    
}


