* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeed0;
  font-family: "Quicksand", sans-serif;
}

form {
  gap: 12px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

input,
textarea {
  border: none;
  padding: 12px;
  border-radius: 24px;
  background-color: #d9d9d9;
}

input {
  width: 80%;
  height: 24px;
  font-family: "Quicksand", sans-serif;
}

textarea {
  width: 80%;
  height: 60px;
  font-family: "Quicksand", sans-serif;
}

textarea::-webkit-scrollbar {
  display: none;
}

#foto-profil {
  height: fit-content;
}

button {
  padding: 12px;
  font-size: 20px;
  border: none;
  color: white;
  font-weight: bolder;
  transition: 0.2s;
  font-family: "Quicksand", sans-serif;
  background-color: #2577ba;
}

button:hover {
  opacity: 0.8;
}
