* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../../images/bg2.png);
  font-family: "Quicksand", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-form {
  padding: 60px;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
}

.reset-form img {
  width: 420px;
  border-radius: 60px;
}

form {
  gap: 24px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h1 {
  width: 100%;
  font-size: 32px;
  text-align: left;
  margin-bottom: 16px;
}

form .input-data {
  width: 100%;
  height: 48px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #7f7f7f;
}

.input-data input {
  background: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
}

.input-data label {
  position: absolute;
  top: -12px;
  left: 12px;
  background-color: white;
  color: #7f7f7f;
}

form button {
  width: 100%;
  height: 48px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #2577ba;
}

p {
  align-self: flex-start;
}

.failed {
  width: 180px;
  padding: 8px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 48px;
  margin-left: -90px;
  border: 1px solid red;
  background-color: rgba(255, 153, 153, 0.5);
}

@media screen and (max-width: 768px) {
  .reset-form {
    flex-direction: column;
    justify-content: center;
  }

  .reset-form img {
    width: 320px;
  }

  form {
    width: 100%;
  }

  form h1 {
    font-size: 52px;
    text-align: center;
  }

  form .input-data {
    height: 60px;
  }

  .input-data label {
    top: -16px;
    left: 16px;
    font-size: 24px;
  }

  form button {
    height: 60px;
    font-size: 24px;
  }
}

@media screen and (max-width: 540px) {
  .reset-form {
    padding: 32px;
  }

  .reset-form img {
    width: 200px;
  }

  form h1 {
    font-size: 32px;
    text-align: center;
  }

  form .input-data {
    height: 40px;
  }

  .input-data label {
    top: -12px;
    left: 12px;
    font-size: 16px;
  }

  form button {
    height: 50px;
    font-size: 20px;
  }
}

@media screen and (min-height: 768px) {
  .failed {
    top: 60px;
  }
}

@media screen and (min-height: 1024px) {
  .failed {
    top: 80px;
  }
}
