* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #eeeed0;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeed0;
  padding: 20px;
}

nav .profil {
  gap: 12px;
  width: 25%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  background-color: #77e8fa;
}

.profil img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.profil .nama {
  gap: 2px;
  width: 60%;
  display: flex;
  margin-top: -5px;
  flex-direction: column;
}

.profil .underline {
  width: 100%;
  height: 2px;
  background-color: black;
}

nav {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 12px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgba(91, 206, 224, 0.29);
}

form {
  gap: 12px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

<<<<<<< HEAD
=======
label {
  font-weight: bold;
}

>>>>>>> dd01038bf4937f7d83226d2d7b0328ae8049864c
input,
textarea {
  border: none;
  padding: 12px;
  border-radius: 24px;
  background-color: #d9d9d9;
}

input {
  width: 80%;
  height: 24px;
  font-family: "Quicksand", sans-serif;
}

textarea {
  width: 80%;
  height: 60px;
  font-family: "Quicksand", sans-serif;
}

textarea::-webkit-scrollbar {
  display: none;
}

#materi_pdf,
#materi_video,
#thumbnail {
  height: fit-content;
}

button {
  padding: 12px;
  font-size: 20px;
  border: none;
  color: white;
  font-weight: bolder;
  transition: 0.2s;
  font-family: "Quicksand", sans-serif;
  background-color: #2577ba;
  align-self: end;
}

button:hover {
  opacity: 0.8;
}

.berhasil-tambah {
  width: fit-content;
  background-color: #94d8e2;
  border-radius: 50px;
  padding: 10px 20px;
  border: 2px solid black;
}
