* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #79caf5;
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: inline;
}

nav .profil {
  gap: 12px;
  width: 60%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profil img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.profil .nama {
  gap: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #2e7dbf;
}

nav {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: white;
}

.hamburger {
  cursor: pointer;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #2577ba;
}

.navigation a {
  color: black;
  text-decoration: none;
  display: flex;
}

.navigation a:hover {
  transition: 0.2s;
  opacity: 0.5;
}

.navigation {
  gap: 50px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.rectangle {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 5px;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: justify;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

form {
  gap: 20px;
  padding: 12px 32px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input,
textarea {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 5px;
  background-color: #fff;
}

input {
  height: 24px;
  font-family: "Quicksand", sans-serif;
}

input,
file {
  display: flex;
  flex-wrap: wrap;
}

textarea {
  width: 78, 5%;
  height: 60px;
  font-family: "Quicksand", sans-serif;
}

textarea::-webkit-scrollbar {
  display: none;
}

#kategori,
#jenjang {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 0;
  border-radius: 5px;
  width: 80%;
  height: 24px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-family: "Quicksand", sans-serif;
}

#kategori option {
  font-family: "Quicksand", sans-serif;
}

#kategori:focus {
  outline: none;
}

#materi_pdf,
#materi_video,
#thumbnail {
  width: 80%;
  height: fit-content;
  display: flex;
}

button {
  border: none;
  background-color: #2577ba;
  border-radius: 5px;
  padding: 10px 20px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  align-self: flex-end;
  margin: 16px 0;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:hover {
  opacity: 0.5;
}

.berhasil-tambah {
  width: fit-content;
  background-color: #94d8e2;
  border-radius: 50px;
  padding: 10px 20px;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  nav .profil {
    width: fit-content;
    border-radius: 50%;
  }

  .profil .nama {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  h1 {
    font-size: 28px;
  }

  .container {
    opacity: 0;
    top: -252px;
    gap: 20px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: 0.7s;
  }

  .display {
    opacity: 1;
    transform: translateY(320px);
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .rectangle {
    flex-direction: column; /* Atur rectangle agar tampil vertikal di layar kecil */
    gap: 10px;
    padding: 15px;
    min-width: 200px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  #materi_pdf,
  #materi_video,
  #thumbnail {
    min-width: 100%;
  }
}
