* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #79caf5;
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: inline;
}

nav .profil {
  gap: 12px;
  width: 60%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profil img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.profil .nama {
  gap: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #2e7dbf;
}

nav {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: white;
}

.hamburger {
  cursor: pointer;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #2577ba;
}

.navigation a {
  color: black;
  text-decoration: none;
  display: flex;
}

.navigation a:hover {
  transition: 0.2s;
  opacity: 0.5;
}

.navigation {
  gap: 36px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

main {
  padding: 24px;
  margin-top: 118px;
}

h1 {
  text-shadow: 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white;
}

.content {
  gap: 30px;
  display: flex;
  margin-top: 24px;
  flex-direction: column;
}

.container-rectangle {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.rectangle {
  width: 49%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  text-align: justify;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tarik {
  background-color: #2577ba;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#tarik:hover {
  background-color: #0056b3;
}

.label,
.value {
  margin: 0;
  font-size: larger;
}

.kursus {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}

.card {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 368px;
  min-height: 420px;
  background-color: white;
  padding: 20px;
  gap: 12px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  nav .profil {
    width: fit-content;
    border-radius: 50%;
  }

  .profil .nama {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  h1 {
    font-size: 28px;
  }

  .container {
    opacity: 0;
    top: -252px;
    gap: 20px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: 0.7s;
  }

  .display {
    opacity: 1;
    transform: translateY(320px);
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .rectangle {
    flex-direction: column; /* Atur rectangle agar tampil vertikal di layar kecil */
    gap: 10px;
    padding: 15px;
    width: 100%;
  }

  .kursus {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 100%;
  }

  .container-rectangle {
    flex-direction: column;
    align-items: center;
  }
}
