* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #79CAF5;
  font-family: "Quicksand", sans-serif;
} 

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}


h1 {
  color: white;
  padding: 30px 50px;
  display: flex;
  gap: 2px;
}



nav .profil {
  gap: 12px;
  width: 25%;
  padding: 4px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profil img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
  
.profil .nama {
  gap: 2px;
  width: 60%;
  display: flex;
  margin-top: -5px;
  align-items : center;
  color : #2E7DBF;
}

nav {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: white;
}
    
.hamburger {
  cursor: pointer;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #2577ba;
}
    
 
.navigation {
  gap: 36px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.navigation a{
  text-decoration : none;
  color : black;
}


.jumlah-murid {
  display: inline-block;
  padding: 5px 10px;
  border: none; 
}

.container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: fit-content;
}


@media screen and (max-width: 768px) {
  nav .profil {
    width: fit-content;
    border-radius: 50%;
  }

  .profil .nama {
    display: none;
  }

  nav {
      justify-content: space-between;
    }
  
  .hamburger {
      display: flex;
  }

  .container {
    opacity: 0;
    top: -252px;
    gap: 20px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: 0.7s;
}

.display {
    opacity: 1;
    transform: translateY(320px);
}

.navigation {
    text-align: center;
    flex-direction: column;
    }
}  
